.git/
.venv/
__pycache__/
*.pyc

.pytest_cache/
.ruff_cache/
.mypy_cache/

.env

data/raw/
data/processed/
data/qdrant/
data/vision_outputs/
models/

ai4i_dataset/
dev_data_fan/
dev_data_pump/
mvtec_anomaly_detection/

*.db
*.sqlite
*.Zone.Identifier
Hackathon.pdf
